{
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": false }],
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "babel-plugin-transform-class-properties",
        [ "transform-object-rest-spread", { "useBuiltIns": true } ]
      ]
    }
  }
}
