@import '~react-tabs/style/react-tabs.scss';
@import '~flexboxgrid/dist/flexboxgrid';

* {
  margin: 0;
  padding: 0;
  font: 15px/1 'Exo 2', sans-serif;
  letter-spacing: .3px;
}

html, body {
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > div:nth-child(2) {
    flex: 1 0 auto;
    margin-top: 4rem;
    padding-bottom: 1rem;
    background-size: contain;
    background-attachment: fixed;
    background-image: url('/media/images/background.png'), rgb(43,52,73);
    background-image: url('/media/images/background.png'), -moz-linear-gradient(135deg, #2b3449 0%, #000000 100%);
    background-image: url('/media/images/background.png'), -webkit-linear-gradient(135deg, #2b3449 0%, #000000 100%);
    background-image: url('/media/images/background.png'), linear-gradient(135deg, #2b3449 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b3449",endColorstr="#000b1c",GradientType=1);
  }
}

.Basic { color: #FBFBFB; }
.Fine { color: #4B96F4; }
.Masterwork { color: #2BBE0D; }
.Rare { color: #FBE11E; }
.Exotic { color: #F7A100; }
.Ascended { color: #FC4386; }
.Legendary { color: #972BE9; }

*[disabled] { opacity: .5; }

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.17rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

h5 {
  font-size: 0.83rem;
  font-weight: 300;
  letter-spacing: 1px;
}

h6 {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1px;
}

p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  

  &.p1 {
    line-height: 1.6rem;
  }

  &.p2 {
    line-height: 1.3rem;
  }

  &.p3 {
    font-size: 12px;
  }
}

em {
  font-style: italic;
  line-height: 1.5;
  font-size: smaller;
}

// react-tabs overwrite
.react-tabs {
  .react-tabs__tab-list {
    margin: 0;
    display: flex;
  }

  .react-tabs__tab {
    flex: 1;
    text-align: center;
    border: 0;
    background-color: blue;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    &:hover { background-color: dodgerblue; }
    &.react-tabs__tab--selected {
      background-color: green;
      border-radius: 0;
      border: none;
    }
    &:focus {
      box-shadow: none;
      &:after { content: none; }
    }
  }

  .react-tabs__tab-panel {
    overflow: auto;
    height: 400px;
    background: green;
  }
}

// spinkit overwrite
.sk-three-bounce > div {
  margin-right: .5rem;
  &:last-child { margin-right: 0; }
}
