@import '~react-tabs/style/react-tabs.scss';
@import '~flexboxgrid/dist/flexboxgrid';

* {
  margin: 0;
  padding: 0;
  font: 14px/1 'Andika', sans-serif;
}

html, body {
  height: 100vh;
}

#root {
  min-height: 100%;
  position: relative;
  // 2nd child "SHOULD" always be the body
  & > div:nth-child(2) {
    padding-bottom: 5rem;
  }
}

h1 { font-size: 2rem;    /* 2*16 = 32 */ }
h2 { font-size: 1.5rem;  /* 1.5*16 = 24 */ }
h3 { font-size: 1.17rem; /* 1.17*16 = 18.72 */ }
h4 { font-size: 1rem;    /* 1*16 = 16 */   }
h5 { font-size: 0.83rem; /* 0.83*16 = 13.28 */ }
h6 { font-size: 0.75rem; /* 0.75*16 = 12 */ }

p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  &.p1 {
    font-weight: bold;
  }
}

em {
  font-style: italic;
  line-height: 1.5;
  font-size: smaller;
}