@import '~react-tabs/style/react-tabs.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Andika', sans-serif;
}

html, body {
  height: 100vh;
}

#root {
  min-height: 100%;
  position: relative;
  // 2nd child "SHOULD" always be the body
  & > div:nth-child(2) {
    padding-bottom: 5rem;
  }
}